@font-face {
  font-family: SofiaProRegular;
  src: url("../assets/fonts/SofiaProRegular.otf");
}
@font-face {
  font-family: SofiaProSemiBold;
  font-weight: bold;
  src: url("../assets/fonts/SofiaProSemiBold.otf");
}

body {
  font-family: SofiaProRegular;
}

body a {
  color: #595754;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #f8f4eb;
  /* padding: 2%; */
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.header-right-navbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.buttons-container {
  color: #595754;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu-button {
  font-size: 20px;
  margin-right: 48px;
}

.download-button {
  font-size: 12px;
  background-color: transparent;
  color: #62b4b0;
  border: 2px solid #62b4b0;
  border-radius: 18px;
  padding: 12px 12px;
  margin-right: 48px;
}

.download-button a {
  color: #62b4b0;
}

.download-button:hover {
  background-color: #62b4b0;
  color: white;
}

.download-button a:hover {
  color: white;
}

.social-network-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  margin-right: 42px;
}

.language-button {
  font-family: SofiaProSemiBold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-right: 4%; */
}

.language-button-letters {
  margin-bottom: -6px;
}

.language-button-arrow {
  text-align: center;
}

.header-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e4e1;
  width: 100%;
  text-align: center;
  padding-top: 0.75%;
  padding-bottom: 0.5%;
}

.input-field {
  background-color: transparent;
  padding: 0;
  border-style: none;
  outline: none;
  padding-left: 8%;
  color: #333333;
  height: 28px;
}

input,
input::placeholder {
  font: 11px sans-serif;
  color: #d4cfc4;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; /* ? */
  width: 100%; /* ? */
}

.header-bottom-left {
  /* width: 42.2%; */
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 36px;
  padding-top: 150px;
  padding-bottom: 150px;
  /* padding-left: 80px; */
  margin: auto;
}

.header-bottom-right {
  /* height: 572px;
  width: 57.8%; */
  align-self: flex-end;
  height: 740px;
  width: 920px;
  background-image: url("../assets/images/AdobeStock_316982639.jpeg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-form {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.header-message {
  text-align: center;
  font-size: 18px;
}

.header-estimate-button {
  font-size: 16px;
  background-color: #333333;
  color: #f9f9f9;
  border: none;
  border-radius: 24px;
  padding: 14px 14px;
  text-align: center;
  width: 180px;
  align-self: center;
}

.header-estimate-button a {
  color: #f9f9f9;
  /* font-size: 12px; */
}

.header-bottom-right-text {
  margin: 0;
  padding-top: 46px;
  padding-left: 52px;
}

.header-bottom-right-text p {
  font-size: 34px;
  color: #f9f9f9;
  margin-top: 0;
}

.contact-button-container {
  padding-bottom: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-button {
  font-size: 16px;
  background-color: #62b4b0;
  color: #f9f9f9;
  border-radius: 24px;
  padding: 14px 14px;
  text-align: center;
  width: 120px;
}

.contact-button a {
  color: #f9f9f9;
}

.attributes-section {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
  gap: 80px;
}

.attributes-section-element h1 {
  color: #333333;
}

.attributes-section-element p {
  color: #333333;
  font-size: 18px;
}
